// Colors
$primary-color: #6bc17a;
$dark-primary-color: #579961;
$secondary-color: #f37341;
$light-background-color: #f7f7f7;
$medium-background-color: #4a4a4a;
$border-color: #d4d4d5;
$light-border-color: #e6e6e6;
$really-light-border-color: #f2f2f2;
$light-highlight-color: #fffff0;
$link-color: #00aeef;
$labs-color: #ca3192;

$facebook-blue-color: #3b5998;

$green: #5bbd72;

$text-color: #333;
$medium-text-color: #666;
$light-text-color: #999998;
$really-light-text-color: #cccccc;

$some-gray-color-what-do-we-use-this-for-even: #b2b3b3;
$light-gray: #e5e5e5;

$error-color: #d95c5c;
$destructive-color: darken($error-color, 10%);

// Sizes
$border-radius: .2857rem;
